.Word {
    padding: 0 1.5rem;
    
}
.title{
    display: flex;
    align-items: flex-end;
    margin: 1rem 0 0 0;
    line-height:200%;
    h1, p, img{
        margin:0;
        font-weight: 500;
    }
    h1{
        margin: 0 0.5rem 0 0;
        font-size: 2rem;
    }
    p{
        margin: 0 0.25rem 0 0;
        font-size: 1rem;
        line-height: normal;
        color: #9E9E9E
    }
    img{
        height: 1.1rem;
        cursor: pointer;
    }
}
.dark{
    color:white
}
.light{
    color:black;
}